@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-family: "Plus Jakarta Sans", sans-serif;
}
/* header section is here  */
.header-main-container{
    width: 100%;
    margin-bottom: 96px;
    padding-top: 16px;

}
.header-container{
    width: 1216px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-container{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo-container button {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.32), #4F46E5);
    border: 0.5px solid rgba(255, 255, 255, 0.32);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(79, 70, 229, 0.1);
    cursor: pointer;
  }
.logo-container h1{
    color: #1E293B;
    
}

.feature-container{
    display: flex;
    gap: 32px;
    align-items: center;
    font-weight: 700;
    size: 16px;
    color: #475569;
    cursor: pointer;
}

.button-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

 .sign-up{
    font-weight: 700;
    size: 16px;
    line-height: 22px;
    letter-spacing: -0.7%;
    color: #475569;
    border: #CBD5E1;
    border-radius:1234px ;
    padding: 12px 20px;
}
 .login{
    font-weight: 700;
    size: 16px;
    line-height: 22px;
    letter-spacing: -0.7%;
    color: #FFFFFF;
    border: #4F46E5;
    background-color: #4F46E5;
    border-radius:1234px ;
    padding: 12px 20px;
}


/* banner section is here  */

.banner-main{
    background: linear-gradient(to top, #CBD5E1, #FFFFFF);
    margin-bottom: 64px;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    
    
}

.banner-button{
    display: flex;
    gap: 8px;
    margin-bottom: 64px;
}

.banner button{
    border-radius: 1234px;
    padding: 6px 12px;
    gap: 8px;
    background-color: #EEF2FF;
    color: #4F46E5;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
    border: none;
    margin-bottom: 24px;
}

.banner h1{
    font-family:'Plus Jakarta Sans';
    font-weight: 800;
    font-size:60px;
    line-height: 68px;
    letter-spacing: -1.8px;
    color: #1E293B;
    margin-bottom: 24px;
}
.banner p{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:18px;
    color: #475569;
    margin-bottom: 48px;
}

.screen-image{
    position: absolute;
    left: 850px;
    top: 160px;
}

.banner-image{
    position: relative;
    padding: 0 20px;
}


/* company logo section  */

.compnay-main{
    background-color: #F8FAFC;
}

.compnay-logo{
    width: 1216px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 64px;
    row-gap: 32px;
}


/* feature section  */
.feature-section button{
    border-radius: 1234px;
    padding: 6px 12px;
    gap: 8px;
    background-color: #EEF2FF;
    color: #4F46E5;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
    border: none;
    margin-bottom: 30px;
    margin-top: 96px;
}

.feature-section h1{
    font-family:'Plus Jakarta Sans';
    font-weight: 800;
    font-size:36px;
    line-height: 44px;
    letter-spacing: -1.4px;
    color: #1E293B;
    margin-bottom: 24px;
}

.feature-section p{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:20px;
    color: #475569;
    margin-bottom: 64px;
}

.feature-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    
    
}

.card-container{
    width: 1216px;
    margin: 0 auto;
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 96px;
}

.card{
    text-align: center;
    gap: 48px;
    
}

.card-image img{
    width: 55px;
    height: 74px;
    object-fit: contain;
}

.card-description h3{
    font-family:'Plus Jakarta Sans';
    font-weight: 700;
    font-size:20px;
    line-height: 28px;
    color: #1E293B;
    margin-bottom: 12px;
}
.card-description p{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:16px;
    color: #475569;
}

/* result section  */
.result-section-main{
    background-color: #F8FAFC;
}

.result-section{
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px
   
}

.result-section button{
    border-radius: 50%;
    padding: 6px 12px;
    gap: 8px;
    background-color: #EEF2FF;
    color: #4F46E5;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    border: none;
    
    
}
.result-section button img{
    height: 28px;
    width: 28px;
    object-fit: contain;
}

.result-section h1{
    font-family:'Plus Jakarta Sans';
    font-weight: 800;
    font-size:36px;
    line-height: 44px;
    letter-spacing: -1.4px;
    color: #1E293B;
    margin-bottom: 20px;
}

.result-section p{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:20px;
    color: #475569;
    margin-bottom: 64px;
}

.result-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: stretch;;
    justify-content: center;
}

.card-border{
    border-left: 2px solid #CBD5E1;
    height: 108px;
    
}

.result-card h1{
    font-family:'Plus Jakarta Sans';
    font-weight: 700;
    font-size:60px;
    line-height: 68px;
    letter-spacing: -1.8px;
    color: #4F46E5;
    margin-bottom: 16px;
    
}

.result-card p{
    font-family:'Plus Jakarta Sans';
    font-weight: 700;
    font-size:18px;
    line-height: 24px;
    color: #475569;
    margin-bottom: 96px;
}

/* dashboard section  */
.dashboard{
    width: 1216px;
    margin: 0 auto;
}

.dashboard button{
    border-radius: 1234px;
    padding: 6px 12px;
    gap: 8px;
    background-color: #EEF2FF;
    color: #4F46E5;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
    border: none;
    margin-bottom: 24px;
    margin-top: 96px;
}

.dashboard h1{
    font-family:'Plus Jakarta Sans';
    font-weight: 800;
    font-size:36px;
    line-height: 44px;
    letter-spacing: -1.4px;
    color: #1E293B;
    margin-bottom: 20px;
}

.dashboard p{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:20px;
    line-height: 24px;
    color: #475569;
    margin-bottom: 64px;
}

.dashboard-desc{
    width: 680px;
}

.dashboard-card-container{
    display: flex;
    height: 592px;
}

.dashboard-card{
    width: 50%;
    padding: 100px 30px;
    
}

.border-left{
    border-left: 3px solid #4F46E5;
    padding-left: 24px;
    border-radius: 2px;
}
.border-gray{
    border-left: 3px solid #E0E7FF;
    padding-left: 24px;
    border-radius: 2px;
}
.dashboard-card h3{
    font-family:'Plus Jakarta Sans';
    font-weight: 700;
    font-size:20px;
    line-height: 28px;
    color: #475569;
    margin-bottom: 12px;
}

.dashboard-card p{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:16px;
    color: #475569;
    width: 468px;
}

.dashboard-image{
    width: 50%;
}

.dashboard-image img{
    width: full;
}


/* testimonial section  */

.testimonial-main{
    background-color: #F8FAFC;
}

.testimonial-section{
    width: 1216px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-header button{
    border-radius: 1234px;
    padding: 6px 12px;
    gap: 8px;
    background-color: #EEF2FF;
    color: #4F46E5;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
    border: none;
    margin-bottom: 24px;
    margin-top: 96px;
}

.section-header h2{
    font-family:'Plus Jakarta Sans';
    font-weight: 800;
    font-size:36px;
    line-height: 44px;
    color: #1E293B;
    margin-bottom: 24px;
}

.section-header p{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:18px;
    color: #475569;
    margin-bottom: 64px;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
    align-items: center;
}

.user-info{
    display: flex;
    gap: 12px;
    align-items: center;
    text-align: start;
}


.user-heading{
    font-family:'Plus Jakarta Sans';
    font-weight: 700;
    font-size:16px;
    line-height: 22px;
    color: #1E293B;
   
    
    
}

.user-para{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:16px;
    line-height: 20px;
    color: #475569;
   
}

.testimonial-card{
    text-align: start;
    border: 1px solid #E2E8F0;
    border-radius: 24px;
    padding: 24px;
    
}
.message{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:18px;
    color: #475569;
    margin-bottom: 24px;
}

.stars{
    color: orange;
    margin-bottom: 24px;
}

/* office section is here  */

.office-section{
    width: 1216px;
    margin: 96px auto;
}
.office-section button{
    border-radius: 1234px;
    padding: 6px 12px;
    gap: 8px;
    background-color: #EEF2FF;
    color: #4F46E5;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
    border: none;
    margin-bottom: 24px;
}

.office-section h1{
    font-family:'Plus Jakarta Sans';
    font-weight: 800;
    font-size:36px;
    line-height: 44px;
    color: #1E293B;
    margin-bottom: 24px;
}
.office-message{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:18px;
    color: #475569;
    margin-bottom: 64px;
}

.office-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
    
}

.office-card{
    border: 1px solid #E2E8F0;
    border-radius: 24px;
    padding: 24px;
}

.office-card h3{
    font-family:'Plus Jakarta Sans';
    font-weight: 800;
    font-size:20px;
    line-height: 28px;
    color: #1E293B;
    margin-bottom: 8px;
}

.office-card p{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:16px;
    color: #1E293B;
}


/* faq section is here  */

.faq-section-container{
    background-color: #F8FAFC;
    padding: 96px 20px;
    justify-content: center;
    text-align: center;
    
    
}

.faq-section{
    width: 800px;
    margin: 0 auto;
   

}
.faq-section button{
    border-radius: 1234px;
    padding: 6px 12px;
    gap: 8px;
    background-color: #EEF2FF;
    color: #4F46E5;
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.6px;
    border: none;
    margin-bottom: 24px;
   

}

.faq-section h1{
    font-family:'Plus Jakarta Sans';
    font-weight: 800;
    font-size:36px;
    line-height: 44px;
    color: #1E293B;
    margin-bottom: 24px;
}
.faq-section p{
    font-family:'Plus Jakarta Sans';
    font-weight: 400;
    font-size:18px;
    color: #475569;
    margin-bottom: 48px;
}

.faq-item {
    width: 800px;
    margin: 0 auto;
    border-bottom: 1px solid #CBD5E1;
    padding: 16px;
  }
  
  .faq-question {
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #334155;
    cursor: pointer;
  }
  
  .faq-item.active .faq-answer {
    display: block;
  }
  
  .faq-answer {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #475569;
    display: none;
    text-align: left;
   
  }

  .faq-flex{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  
  
 